:root {
    --dark : #19283f;
    --green : #33d1cc;
    --red: #ff3150;
    --yellow: #ffc400;
    --section-color: #eff7fa;
}
body {
    font-family: 'Roboto', sans-serif;
}
.main-btn {
    background-color: var(--red);
    border: none;
    color: var(--yellow);
}
.main-btn:hover {
    color: var(--yellow)
}
.main-title::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: var(--green);
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.navbar {
    background-color: var(--dark);
}
.navbar .navbar-nav .nav-link {
    color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--green);
}
.navbar .search {
    border-left: 1px solid var(--green);
}
.navbar .search svg {
    color: var(--green);
}
.navbar .navbar-toggler {
    color: white;
    font-size: 25px;
    border-color: white;
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"]{
    border-color: var(--green);
}
.landing {
    background-color: var(--dark);
    min-height: calc(100vh - 72px);
    padding: 0.5rem 1rem;
}
.features .icon-holder {
    height: 200px;
}
.features .icon-holder svg{
    left: 50%;
    transform: translate(-50%);
}
.features .icon-holder .number {
    font-size: 12rem;
    color: var(--section-color);
}
.features .icon-holder .icon {
    color: var(--green);
}
.features .feat h4 {
    color: var(--yellow);
}
.our-work {
    background-color:var(--section-color);
}
.our-work ul li.active {
    color: var(--yellow);
    background-color: var(--red);
}
.our-work ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.our-work ul li:not(.active):hover {
    color: var(--red);
}
.our-work .work {
    overflow: hidden;
    padding: 5px;
}
.our-work .row .work::before{
    content: attr(data-work);
    position: absolute;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    background-color: rgb(51 209 204/76%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    transition: .3s;
    transform: translateX(calc(-100% - 5px));
}
.our-work .work:hover::before{
    transform: translateX(0);
}
.stuff .description {
    max-width: 500px;
}
.team {
    background-color: var(--section-color);
}
.team h2 {
    color: var(--yellow);
}
.team .box h4 {
    color: white;
}
.project {
    background-color: var(--dark);
    color: white;
}
.contact {
    background-color: var(--yellow);
} 
.contact input[type="text"] {
    border: none;
    border-bottom: 1px solid white;
}
.contact input[type="text"]:focus {
    outline: none;
}
.contact ::placeholder {
    color: white;
}
.contact input[type=submit]{
    background-color: var(--dark);
    color: var(--yellow);
}
footer {
    background-color: var(--dark);
}
footer .copyright > span {
    color: var(--green);
}
.copyright .name {
    color: var(--yellow);
}
footer .contact-us ul svg{
    width: 20px;
    height: 20px;
}
footer .facebook {
    background-color: #1877f2;
}
footer .twitter {
    background-color: #1da1f2;
}
footer .youtube {
    background-color: #0077b5;
}
footer .linkedin {
    background-color: #ff0000;
}
